---
Checks:          '*,-altera-*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm*,-cppcoreguidelines-owning-memory, -misc-no-recursion'
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none
