---
Checks:          '*,-altera-*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm*,-cppcoreguidelines-owning-memory, -hicpp-avoid-c-arrays, -modernize-avoid-c-arrays, -cppcoreguidelines-avoid-c-arrays, -misc-no-recursion'
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none
